.partner_establishments {
    .dropdown-wrapper .ant-dropdown-menu {
      min-width: 200px;
    }
    .ant-dropdown-menu-title-content{
          font-size: 20px;
    }
    .ant-picker-range, .ant-picker-outlined {
      width: 350px;
      height: 35px;
      font-size: 16px;
    }
    :where(.css-dev-only-do-not-override-usln0u).ant-picker .ant-picker-input >input {
        font-size: 16px;

    }
    .special-label {
      display: none;
    }
    .form-control   {
      height: 35px !important;
      font-size: 16px;
      outline: none;
    }
    .form-control:hover {
      border-color: #2e5bd6 !important;
      transition: ease-in-out .3s;
    }
    .form-control::placeholder{
      color: rgb(211, 211, 211);
    }
    .ant-form-item-label {
      display: none;
    }
    :where(.css-dev-only-do-not-override-usln0u).ant-dropdown .ant-dropdown-menu, :where(.css-dev-only-do-not-override-usln0u).ant-dropdown-menu-submenu .ant-dropdown-menu {
        padding: 4px;
        list-style-type: none;
        background-color: #ffffff;
        background-clip: padding-box;
        border: #d3d3d3 solid 1px;
        border-radius: 8px;
        outline: none;
        box-shadow: none;
        width: 150px !important;
    }

    :where(.css-dev-only-do-not-override-1kuana8).ant-form-item {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    line-height: 1.5714285714285714;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    margin-bottom: 6px;
    vertical-align: top;
  }
}
    :where(.css-dev-only-do-not-override-usln0u).ant-dropdown .ant-dropdown-menu, :where(.css-dev-only-do-not-override-usln0u).ant-dropdown-menu-submenu .ant-dropdown-menu {
        padding: 4px;
        list-style-type: none;
        background-color: #ffffff;
        background-clip: padding-box;
        border: #d3d3d3 solid 1px;
        border-radius: 8px;
        outline: none;
        box-shadow: none;
        width: 150px !important;
    }