.menu_nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: white;
  padding: 28px;
  .name {
    color: #D1D1D1;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .text {
      font-size: 24px;
    }
  }

  .text.active {
    color: #ffffff;
    background-color: #1890ff;
    padding: 8px 16px;
    border-radius: 4px;
    text-decoration: none;

    &:hover {
      background-color: darken(#1890ff, 10%);
    }
  }

  .text {
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    margin: 5px 0;
    cursor: pointer;

    &:hover {
      background-color: darken(#1890ff, 10%);
      border-radius: 4px;
    }
  }
}
