.modal-create {
  max-width: 365px !important;

  .content {
    display: flex;
    flex-direction: column;
  }

  .ant-modal-title {
    font-size: 24px;
    display: flex;
    font-weight: 400;
    margin-bottom: 50px;
    justify-content: center;
  }
}
