.switcher {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
  width: 100% ;


  .select {
    width: 300px;
    height: 48px;



  }

  .ant-select-selector {
    border-color: #fb7e00 !important;
    background: transparent !important;
    border-radius: 10px;
    color: #fb7e00 !important;
  }

  .ant-select-arrow {
    color: #fb7e00 !important;
  }
}
