.subcsriptions{
    :where(.css-dev-only-do-not-override-1kuana8).ant-form-item .ant-form-item-label {
        flex-grow: 0;
        overflow: hidden;
        white-space: break-spaces;
        text-align: end;
        vertical-align: middle;
    }
}