.admin_users {



  .ant-pagination-total-text {
    color: #7d7d7d !important;
  }

  .ant-table-wrapper {
    height: 100%;
  }
  .ant-spin-nested-loading {
    height: 100%;
  }

  .ant-spin-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  $primary-color: #fb7e00;

  .ant-pagination {
    .ant-pagination-item-active {
      background-color: $primary-color;
      border-color: transparent;

      a {
        color: white;
      }
    }
  }

  .ant-table-wrapper
    .ant-table-thead
    > tr
    > th:not(:last-child):not(.ant-table-selection-column):not(
      .ant-table-row-expand-icon-cell
    ):not([colspan])::before,
  .ant-table-wrapper
    .ant-table-thead
    > tr
    > td:not(:last-child):not(.ant-table-selection-column):not(
      .ant-table-row-expand-icon-cell
    ):not([colspan])::before {
    display: none !important;
  }


}
:where(.css-dev-only-do-not-override-usln0u).ant-table-wrapper .ant-table-cell,
:where(.css-dev-only-do-not-override-usln0u).ant-table-wrapper
.ant-table-thead
> tr
> th {
  position: relative;
  padding: 16px 0px 16px 25px;
  overflow-wrap: break-word;
}


:where(.css-dev-only-do-not-override-usln0u).ant-dropdown .ant-dropdown-menu,
:where(.css-dev-only-do-not-override-usln0u).ant-dropdown-menu-submenu
.ant-dropdown-menu {
  padding: 4px;
  list-style-type: none;
  background-color: #ffffff;
  background-clip: padding-box;
  border: #d3d3d3 solid 1px;
  border-radius: 8px;
  outline: none;
  box-shadow: none;
  width: 130px;
}
