@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Annapurna+SIL:wght@400;700&family=Gentium+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

.btn {
  //width: 140px;
  //margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FB7E00;
  color: white;
  border-radius: 10px;
  border: unset !important;
  padding: 8px 28px;
  //font-weight: 400;
  //font-size: 20px;
  &:hover {
    background-color: darken(#FB7E00, 10%) !important;
    border: unset !important;
    color: white !important;
  }
}

.cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(156, 163, 175);
  color: white;
  border-radius: 10px;
  border: unset !important;
  &:hover {
    background-color: darken(rgb(144, 144, 144), 10%) !important;
    border: unset !important;
    color: white !important;
  }
}

//.ant-form-item-required::before {
//  display: none !important;
//}

.ant-table-thead {
th {
  background: #fb7e00 !important;
  color: #ffffff !important;
}
}


.ant-tabs-nav .ant-tabs-tab-active {
  color: #fb7e00 !important;
}

.ant-tabs-tab-btn:active {
  color: #fb7e00 !important;
}

.order_partners .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #fb7e00 !important;
  text-shadow: 0 0 0.25px #fb7e00 !important;
}

.ant-tabs-ink-bar {
  background-color: #fb7e00 !important;
}

.price::-webkit-outer-spin-button,
.price::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.price {
  -moz-appearance: textfield;
}

/*.custom-form-item .ant-form-item-required::before {*/
/*  display: none;*/
/*}*/

