.modal_details_admin {
  .ant-modal-content {

    .ant-tabs {
      width: 100%;
    }
    .establishment-card {
      .card_content {
        display: flex;
        gap: 20px;
        align-items: flex-start;

        .flex {
          margin-bottom: 16px;

          .avatar {
            border-radius: 50%;
            border: 2px solid #ddd;
          }
        }

        .flower {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 6px;
        }

        div {
          &:first-child {
            font-weight: bold;
          }

          &:not(:first-child) {
            font-size: 1em;
            color: #555;

            span {
              font-weight: bold;
              margin-right: 8px;
              color: #333;
            }
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }


    .carousel-container {
      position: relative;
      padding: 20px;
    }

    .carousel-buttons {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      gap: 20px;
    }

    .carousel-container .ant-carousel .slick-prev,
    .carousel-container .ant-carousel .slick-next {
      width: auto;
      height: auto;
      font-size: 16px;
      background: #1890ff;
      color: white;
      border: none;
      border-radius: 50%;
      padding: 10px;
      z-index: 1;
    }

    .carousel-container .ant-carousel .slick-prev:hover,
    .carousel-container .ant-carousel .slick-next:hover {
      background: #40a9ff;
    }

    .ant-avatar {
      width: 48px;
      height: 48px;
    }
  }

  .tab .ant-tabs-nav {
    width: 100%;

    .ant-tabs-nav-wrap {
      justify-content: space-between; // Разделяет вкладки на равные части
      width: 100%;
    }
  }

  .title {
    width: 160px;
    font-weight: 600;
  }
}
